<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/global.css" />
    <title>BLOGSPHERE</title>
  </head>
  <body>
    <header class="navbar">
      <a href="/" class="logo">BLOGSPHERE</a>

      <nav>
        <a href="/">blogs</a>
        <a href="/about">about</a>
      </nav>

      <div class="write"><a href="/write">Write Blog ✍️</a></div>
    </header>
  </body>
</html>
