<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Ridwan Yunus" />
    <meta
      name="description"
      content="BlogSphere: A powerful, user-friendly blogging platform designed for seamless content creation and management. Built with Node.js, Express, and MongoDB, BlogSphere offers rich features like image uploads, author info, and REST API routes, providing creators a flexible, intuitive space to publish and explore content." />
    <link rel="icon" type="image/jpeg" href="/b.jpeg" />
    <title>About - BlogSphere</title>
  </head>
  <body id="about">
    <header><%- include('partials/header.ejs') %></header>

    <section class="about">
      <h1>About</h1>
      <p>
        BLOGSPHERE is a straightforward blog application that enables users to create, read, update, and delete blog posts. Built with Node.js and Express, the app features a clean, custom-styled
        interface designed with CSS for an intuitive and visually appealing user experience. Note: Full functionality is available on desktop viewports and up only.
      </p>
    </section>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
