<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/jpeg" href="/b.jpeg" />
    <title>About - BlogSphere</title>
  </head>
  <body id="about">
    <header><%- include('partials/header.ejs') %></header>

    <section class="about">
      <h1>About</h1>
      <p>
        YaroBLOG is a straightforward blog application that enables users to create, read, update, and delete blog posts. Built with Node.js and Express, the app features a clean and custom-styled
        interface using CSS for its design.
      </p>
    </section>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
