<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="icon" type="image/jpeg" href="/b.jpeg" />
    <title>Work In Progress</title>
  </head>
  <body>
    <div class="work-in-progress">
      <h2>
        Welcome to BlogSphere! While we're fine-tuning the backend with MongoDB, the option to create new blog posts is temporarily unavailable. You can still explore, edit, and delete existing posts
        as we continue to build out the full experience. Thank you for your patience and support as we work to bring you a complete and seamless blogging platform!
      </h2>

      <a href="https://blog-spherex.onrender.com/">Go back to home page</a>
    </div>
  </body>
</html>
